@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel
<div class="text-center">
    <h1 class="display-4">Check out our Roster of Chefs!</h1>
    <table class= "table table-stripped">
        <thead class = "thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Dish d in Model.AllDishes)
            {
                <tr>
                    <td>@d.NameOfDish</td>
                    <td>@d.Creator.FirstName</td>
                    <td>@d.Tastiness</td>
                    <td>@d.NumOfCalories</td>
                </tr>
            }
        </tbody>
    </table>
</div>