@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div>
    <div class="text-center">
        <h1 class="display-4">Welcome to CRUDelicious</h1>
        <a href="/dishes/new">Add a Dish</a>
    </div>
    <div class = "text-left">
        <h3>Check out some of the new dishes:</h3>
        @foreach( Dish d in Model)
        {
            <p><a href="/dishes/@d.DishId">@d.Name</a> by @d.Chef</p>
        }
    </div>
</div>
