<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Info</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <h1><u>Submitted Info</u></h1>
    <p>Name: @ViewBag.YourName </p>
    <p>Location: @ViewBag.DojoLocation </p>
    <p>Favorite Language: @ViewBag.FavoriteLanguage </p>
    <p>Comment: @ViewBag.Comments </p>
</body>
<button><a href="/">Home</a></button>
</html>