@model Association

<form asp-action="CreateAssociation" asp-controller = "Home" method="post">
    <div class="mb-3">
        <input asp-for="ProductId" value="@Model.ProductId" type="hidden" class="select-control"></input>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="text-center d-flex justify-content-center gap5 mt-5">
        <label asp-for="CategoryId">Category: </label>
        <select asp-for="CategoryId" class-="form-select">
            @foreach(Category c in ViewBag.AllCategories)
            {
                <option value="@c.CategoryId">@c.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="submit" class="btn btn-warning m-2">
</form>