@{
    ViewData["Title"] = "Add Catagory";
}
@model Category

<div class="text-left">
    <form asp-action="CreateCategory" asp-controller= "Home" method ="post">
        <div class = "mb-3">
            <label asp-for="Name" class = "form-label">Name:</label>
            <input asp-for= "Name" class = "form-control">
            <span asp-validation-for= "Name" class= "text-danger"></span>
        </div>
        <input type="submit" value="Create" class="btn btn-primary m-3">
    </form>

</div>
