@{
    ViewData["Title"] = "Add Product";
}
@model MyViewModel

<div class="d-flex justify-content-center">
    <ul class= "list-unstyled d-flex justify-content-center">
        <li class="display-6">Products </li>
        <li class="display-6"> | </li>
        <li class="display-6"><a class= "text-decoration-none" href="/categories"> Categories</a></li>
    </ul>
</div>
<div class= "text-center d-flex justify-content-center gap-5 mt-5">
    <div class="flex-1 m-2">
        <h2>New Product</h2>
        @await Html.PartialAsync("_NewProduct", Model.Product)
    </div>
    <div class = "vr"></div>
    <div class = "flex-1 m-2">
        <h2>All Products</h2>
        @foreach (Product p in Model.AllProducts)
        {
            <div class="d-flex gap-3">
                <h2><a href="/products/@p.ProductId">@p.Name</a></h2>
                <h4>$@p.Price</h4>
            </div>
        }
        
    </div>

</div>